@media (width >=40em) {
    .top-content {
        flex: 48%;
    }

    .phone-details {
        justify-content: flex-end;
    }

    .search-container button span {
        display: inline-block;
    }

    .search-container button i {
        display: none;
    }

    .navigation-list ul li span {
        display: none;
    }

    .arrival-1,
    .arrival-2,
    .arrival-3 {
        height: 500px
    }

    .each-product {
        width: 48%;
    }

    footer {
        padding: 40px;
    }

    .footer-nav-links {
        display: flex;
        gap: 15%;
    }

    .footer-nav-links div {
        margin-bottom: 20px;
    }

    #mobile {
        display: none;
    }

    .item-info {
        font-size: 20px;
    }
}

@media (width >=70em) {
    .top-content {
        flex: 1;
    }

    .search-container {
        flex: 3;
    }

    .phone-details {
        order: 3;
    }

    .navigation-list {
        flex: 4;
    }

    .navigation-list ul li span {
        display: inline-block;
    }

    .navigation-list ul li i {
        font-size: 13px;
    }

    .navigation-list ul li i:hover {
        color: #00aee5;
    }

    .arrival-1,
    .arrival-2,
    .arrival-3 {
        flex: 31%;
        height: 250px
    }

    .each-product {
        width: 375px;
    }

}

@media (width <=40em) {
    .home-navigation {
        display: none;
    }

    .about-content {
        font-size: 15px;
    }

    .slide-container {
        background-size: cover;
        background-position: 50% 50%;
        min-height: 300px;
    }

    .arrival-1,
    .arrival-2,
    .arrival-3 {
        padding: 40px 0 0 30px;
        height: 300px
    }

    .items span {
        display: none;
    }

    .shopping-cart {
        gap: 5px;
        align-items: flex-end;
    }

    .shopping-cart-items {
        top: 32px;
        width: 280px;
    }

    .login-container {
        flex-direction: column;
    }

    .top-container {
        padding-bottom: 30px;
    }

    .register form fieldset div {
        flex-direction: column;
        padding-left: 30px;
    }

    .register form fieldset div label {
        text-align: left;
    }

    .subscribe {
        width: 100%;
        text-align: left;
    }

    .subscription input {
        margin-left: 30px;
    }

    .submit-section label {
        width: 90%;
    }

    .continue-btn {
        margin-top: 15px;
    }

}

@media (width >=60em) {
    .cart-container {
        width: 600px;
    }

    .cart-item {
        flex-direction: row;
        gap: 30px;
    }

    .cart-item img {
        width: 150px;
    }

    .item-info {
        align-self: center;
        font-size: 15px;
    }

    .register form fieldset div label {
        flex: 1;
    }


}