@media (width >=40em) {
    .top-content {
        flex: 48%;
    }

    .phone-details {
        justify-content: flex-end;
    }

    .search-container button span {
        display: inline-block;
    }

    .search-container button i {
        display: none;
    }

    .navigation-list ul li span {
        display: none;
    }

    .arrival-1,
    .arrival-2,
    .arrival-3 {
        height: 500px
    }

    .each-product {
        width: 47%;
    }

    footer {
        padding: 40px;
    }

    .footer-nav-links {
        display: flex;
        gap: 15%;
    }

    .footer-nav-links div {
        margin-bottom: 20px;
    }
}

@media (width >=70em) {
    .top-content {
        flex: 1;
    }

    .search-container {
        flex: 3;
    }

    .phone-details {
        order: 3;
    }

    .navigation-list {
        flex: 4;
    }

    .navigation-list ul li span {
        display: inline-block;
    }

    .navigation-list ul li i {
        font-size: 13px;
    }

    .navigation-list ul li i:hover {
        color: #00aee5;
    }

    .arrival-1,
    .arrival-2,
    .arrival-3 {
        flex: 31%;
        height: 250px
    }

    .each-product {
        width: 370px;
    }

}

@media (width <=40em) {
    .home-navigation {
        display: none;
    }

    .about-content {
        font-size: 15px;
    }

    .slide-container {
        background-size: cover;
        background-position: 50% 50%;
        min-height: 300px;
    }

    .arrival-1,
    .arrival-2,
    .arrival-3 {
        padding: 40px 0 0 30px;
        height: 300px
    }
}