* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
}

/* HEADER */

header {
    padding: 30px 25px 0px 25px;
    background-color: #f5f5f5;
    position: relative;
}

.top-container {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.top-content {
    flex: 100%;
}

.top-container .phone-details {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.phone-details {
    display: flex;
}

.phone-details p {
    font-weight: 500;
    cursor: pointer;
    transition: color 0.4s;
}

.phone-details p:hover {
    color: #00aee5;
}

.phone-details i {
    color: #00aee5;
}

.search-container {
    display: flex;
}

.search-container input {
    width: 85%;
    height: 40px;
    color: black;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(200, 200, 200);
    background-color: #f5f5f5;
    padding-left: 15px;
}

.search-container input:focus {
    outline: none;
}

.search-container button {
    margin-left: -4px;
    border: none;
    background-color: #00aee5;
    width: 15%;
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 0.75px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.4s;
}

.search-container button:hover {
    background-color: black;
}

.search-container button span {
    display: none;
}

/* NAVIGATION */

.home-navigation {
    display: flex;
    color: white;
    position: relative;
}

.categories {
    background-color: #00aee5;
    flex: 1.5;
    margin-right: 30px;
    padding: 20px 0px 20px 10px;
    font-size: 20px;
    border-radius: 2px 2px 0 0;
}

.navigation-list {
    flex: 2.5;
    background-color: rgb(70, 70, 70);
    padding: 20px 0px 20px 15px;
    border-radius: 2px 0px 0 0;
}

.navigation-list ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.navigation-list ul li {
    transition: color 0.4s;
}

.navigation-list ul li:hover {
    color: #00aee5;
}

.navigation-list ul li i {
    padding-right: 10px;
    color: #00aee5;
    font-size: 25px;
}

.navigation-list ul li i:hover {
    color: white;
}

.shopping-cart-desk {
    flex: 1;
    background-color: #00aee5;
    padding: 20px 0px 20px 10px;
    border-radius: 0 2px 0 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.shopping-cart {
    display: flex;
    gap: 10px;
    align-items: center;
}

.shopping-cart:hover {
    color: #6fd2f0;
}

.shopping-cart-items {
    color: black;
    background-color: rgb(220, 220, 220);
    text-transform: uppercase;
    position: absolute;
    top: 63px;
    right: 0px;
    width: 300px;
    padding: 20px 30px;
    font-size: 12px;
    font-weight: 300;
    display: none;
    z-index: 10;
}

.shopping-cart-items.clicked-shopping-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.items {
    display: flex;
    gap: 5px;
}

.shopping-cart-list {
    align-self: flex-start;
    font-weight: 500;
}

/* SLIDE */

.slides {
    padding: 25px;
    width: 100%;
    overflow-x: hidden;
}

.slide-container {
    background-image: url('./images/slides/slide-1-870x345.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 345px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 100%;
}

.content-info .content-name {
    color: #00aee5;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-content {
    font-size: 12px;
    font-weight: 300;
    color: rgb(120, 120, 120);
    margin-bottom: 10px;
}

.shop-btn {
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.shop-btn:hover {
    background-color: #00aee5;
}

/* 
NEW ARRIVAL */

.new-arrivals {
    padding: 15px 25px 25px 25px;
}

.new-arrivals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.arrival-1,
.arrival-2,
.arrival-3 {
    flex: 100%;
}

.arrival-1 {
    background-image: url('./images/banner-1-570x350.jpg');
    background-size: cover;
    background-position: 72% 50%;
    padding: 50px 0 0 20px;
}

.arrival-1 p {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 35px;
}

.arrival-1 a {
    color: black;
}

.arrival-2 {
    background-image: url("./images/banner-2-570x350.jpg");
    padding: 50px 0 0 30px;
    background-size: cover;
    background-position: center;
}

.arrival-2 p {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

.arrival-3 {
    background-image: url("./images/banner-3-570x350.jpg");
    background-size: cover;
    background-position: 75% 50%;
    padding: 50px 0 0 30px;
}

.arrival-3 p {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 35px;
}

.percentage-off {
    color: #00aee5;
    font-weight: 700;
}


/* PRODUCTS */

.product {
    padding: 30px;
    overflow: hidden;
    width: 100%;
}

.product-header {
    padding: 15px;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.product-header p {
    font-size: 15px;
}

.slide-control {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

#left-arrow,
#right-arrow {
    border: none;
    background: none;
    cursor: pointer;
}

.fa-chevron-down,
.fa-chevron-up {
    color: rgb(150, 150, 150);
    font-size: 12px;
}

.product-container {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.each-product {
    border: 1px solid rgb(220, 220, 220);
    padding: 50px 20px 30px 20px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.each-product p {
    line-height: 20px;
}

.each-product img {
    margin-bottom: 100px;
    object-fit: cover;
    object-position: center;
    padding: 20px 0 0 50px;
    cursor: pointer;
}

.product-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.icon-tooltip {
    position: absolute;
    bottom: 76px;
    background-color: #00aee5;
    padding: 2.5px 8px;
    font-size: 13px;
    border-radius: 3px;
    color: white;
    width: fit-content;
    min-width: 85px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}

.icon i {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    border-radius: 50%;
    color: black;
    transition: color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

.icon:hover .icon-tooltip {
    opacity: 1;
}

.icon i:hover {
    color: white;
    background-color: rgb(50, 50, 50);
}

.fa-eye,
.fa-heart {
    font-weight: 400;
}

.icon .fa-shopping-cart {
    color: white;
    background-color: #00aee5;
}

.product-amount {
    color: #00aee5;
    font-size: 21px;
}

.product-name {
    font-size: 13px;
    font-weight: 400;
}

.product-description {
    color: rgb(150, 150, 150);
    font-size: 12px;
}

/* FEATURES */
.features {
    margin: 0 30px 30px 30px;
    cursor: pointer;
}

.features img {
    width: 100%;
    height: auto;
}

/*FOOTER */

footer {
    background-color: rgb(60, 60, 60);
    padding: 40px 20px 40px 20px;
}

.footer-nav-links div {
    margin-bottom: 30px;
}

.footer-nav-links div h2 {
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.footer-nav-links div ul {
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    cursor: pointer;
}

.footer-nav-links div ul li a {
    color: #00aee5;
    text-decoration: none;
    transition: color 0.3s;
}


.footer-nav-links div ul li a:hover {
    color: white;
}

.footer-nav-links div ul li {
    padding-bottom: 20px;
}

.footer-nav-links {
    padding-bottom: 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

footer p {
    color: white;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
}

footer p i {
    color: #00aee5;
    padding-right: 10px;
}

/* MOBILE NAV */
.mobile-nav {
    position: fixed;
    top: 20px;
    right: 10px;
    display: flex;
    gap: 10px;
    color: rgb(120, 120, 120);
    cursor: pointer;
    transition: color 0.3s ease-in;
    font-weight: 300;
}


.mobile-nav i {
    font-size: 22px;
}

.navigation {
    background-color: rgb(235, 235, 235);
    padding: 20px;
    width: 45%;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    top: 60px;
    right: 20px;
    display: none;
}

.navigation.show-nav {
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    margin-bottom: 10px;
    transition: color 0.3s ease in;
}

.navigation ul li:last-child {
    margin-bottom: 0px;
}

.navigation ul li i {
    color: rgb(100, 100, 100);
    padding-right: 10px;
    transition: color 0.3s ease in;
}

.navigation ul li:hover {
    color: #00aee5;
}

/* SIDE-BAR CART ITEMS */

.side-bar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 500px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    display: none;
}

.cart-container {
    position: fixed;
    height: 100%;
    background-color: rgb(240, 240, 240);
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 40px 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(235, 8, 8);
}

.cart-container-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.cart-container h1 {
    color: #00aee5;
    font-size: 23px;
}

.number {
    font-size: 16px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    gap: 0px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 0px 20px 20px 20px;
}

.cart-item img {
    width: 200px;
}

.item-info {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-info span,
.item-amount {
    font-weight: bold;
}

.item-count {
    padding: 5px 10px;
    margin: 10px;
}

.remove-btn {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.remove-btn:hover {
    background-color: rgb(235, 8, 8);
}

.remove-btn:active {
    opacity: 0.6;
}

.increase-item,
.decrease-item {
    cursor: pointer;
}

.increase-item:active,
.decrease-item:active {
    text-shadow: 1px 1px 1px black;
}